.sortBar {
  border-bottom: 1px solid rgb(190, 190, 190);
  width: fit-content;
  border: 0rem;
}
.sortBar li:hover {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.restaurent-heading {
  margin-left: 7rem;
}
.items-header {
  gap: 10rem;
}
.checked-items {
  z-index: 2;
}
.each-item-name {
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(216, 208, 208);
  padding: 0.5rem;
}
@media (max-width: 1400px) {
  .items-header {
    gap: 2rem;
    margin-left: 0rem;
  }
}
