.sortBar {
  width: fit-content;
  cursor: pointer;
}
.sortBar li:hover {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.items-header {
  gap: 10rem;
}
.checked-items {
  z-index: 2;
}
.each-item-name {
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(216, 208, 208);
  padding: 0.5rem;
}
@media (max-width: 1400px) {
  .items-header {
    gap: 0rem;
    margin-left: 0rem;
  }
}
