.restaurants {
  max-width: 100rem;
}

.card {
  width: 18rem;
  border-radius: 0rem;
  padding: 1.5rem;
  border: 1px solid white;
  box-sizing: border-box;
  cursor: pointer;
}
.card img {
  border-radius: 0rem;
}
.card-body {
  padding: 0;
  margin-top: 1rem;
}

.card:hover {
  border: 1px solid rgb(161, 157, 157);
  box-sizing: border-box;
}
.rating {
  background-color: #48c479;
  color: white;
}
/*filter restaurants */
.filter-restaurants {
  width: 28rem;
  position: absolute;
  height: 100vh;
  right: 0rem;
  top: 0rem;
  background-color: white;
  z-index: 2;
  position: fixed;
}
.filter-show-btn {
  background-color: #fc8019;
  font-weight: bold;
  color: white;
  border: none;
}

@media (max-width: 1000px) {
  .restaurant-block {
    padding-top: 7rem;
  }
}
