.header {
  padding: 1rem;
  gap: 18rem;
}

.navbar-brand:hover {
  transform: scale(1.1);
  transition: transform 1s;
  cursor: pointer;
}

.navBar {
  cursor: pointer;
  font-weight: 400;
}
li:hover {
  color: #fc8019;
}
.cartItemsCount {
  position: relative;
  bottom: 0.5rem;
  right: 0.2rem;
  color: green;
  font-weight: bold;
}

/* mobile header */
.mobile-header {
  border-bottom: 1px solid rgb(228, 220, 220);
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: white;
  z-index: 2;
}

/* form */

.form {
  width: 28rem;
  position: absolute;
  height: 100vh;
  right: 0rem;
  top: 0rem;
  background-color: white;
  z-index: 2;
  position: fixed;
  font-size: small;
}

.create-account {
  color: #fc8019;
  cursor: pointer;
}
.form img {
  object-fit: contain;
}
.form-control {
  border: 1px solid rgb(194, 192, 192);
  border-radius: 0rem;
  box-sizing: border-box;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid rgb(194, 192, 192);
}
.referalTxt:hover {
  color: #0d6efd;
}

.btn {
  background-color: #fc8019;
  color: white;
  border-radius: 0rem;
  padding: 1rem;
  font-weight: bold;
}
.btn:hover {
  background-color: #fc8019;
}
.close {
  cursor: pointer;
  font-size: larger;
  padding: 2rem;
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.prompt {
  text-decoration: none;
  list-style: none;
}
.log-out-prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
}
.yesbtn {
  padding: 1rem;
  background-color: green;
  color: white;
  font-weight: 500;
}
.nobtn {
  padding: 1rem;
  background-color: red;
  color: white;
  font-weight: 500;
}
a:hover {
  color: white;
}

.blur-login-bg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 20rem;
  border: 1px solid rgb(224, 214, 214);
  padding: 2rem;
  background-color: white;
  z-index: 2;
}
/* user details */

.account-details {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100vw;
  height: 95vh;
  padding: 2rem;
  top: 0;
  right: 0;
  z-index: 2;
}
.account-details div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(224, 210, 210);
}
.user-details {
  border-bottom: 1px solid black;
}

@media (max-width: 1400px) {
  .header {
    gap: 3rem;
  }
}
