.icons {
  cursor: pointer;
}
.icons i:hover {
  transform: scale(1.1);
}
li {
  list-style: none;
  cursor: pointer;
}
/* mobile footer */
.mobile-footer {
  border-top: 1px solid rgb(228, 220, 220);
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 5;
  width: 100vw;
}
.mobile-footer p {
  font-size: 0.6rem;
  color: gray;
  cursor: pointer;
}
