.restaurant-page {
  background-color: rgb(248, 244, 244);
}
.restaurant-details {
  border-bottom: 1px dashed rgb(175, 173, 173);
  width: 50rem;
  justify-content: space-between;
}

.item {
  margin: 2rem;
  justify-content: space-between;
  width: 50rem;
  border-bottom: 1px solid rgb(163, 159, 159);
  padding: 1rem;
}
.item-image img {
  object-fit: contain;
  border-radius: 1rem;
}
.addToCounter {
  position: relative;
  top: -3rem;
  left: 3rem;
}
.veg-logo {
  border: 1px solid green;
  padding: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
}
.non-veg-logo {
  border: 1px solid rgb(201, 13, 13);
  padding: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.add-btn {
  width: 8rem;
  border: none;
  font-weight: 500;
  border-radius: 0.5rem;
}
.counter {
  width: fit-content;
  border-radius: 0.5rem;
  background-color: white;
  width: 8rem;
  justify-content: space-around;
}
.counter button {
  border: none;
  color: green;
  background-color: white;
  font-weight: 500;
}
.promptForChangingRestaurant {
  position: fixed;
  z-index: 2;
  left: 30vw;
  top: 60vh;
  width: 40rem;
  background-color: white;
  border: 1px solid rgb(199, 190, 190);
  box-shadow: 1rem 1rem 1rem rgb(223, 217, 217);
}
.promptForChangingRestaurant button {
  width: 15rem;
  padding: 1rem;
}
.yes-btn {
  color: white;
  font-weight: bold;
  background-color: green;
  border: none;
}
.no-btn {
  color: green;
  font-weight: bold;
  border: 3px solid green;
  background-color: white;
}
